body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Open Sans', sans-serif;    
    box-sizing: border-box;
    /* background-color: black; */
}

/* header and navigation */

.headcontainer{
    display: flex;  
    /* flex-direction: column; */
    /* padding: 10px 50px; */
    width: 100%;
    /* height: 50px; */
    position: fixed;
    z-index: 1;
    /* font-family: 'Lato', sans-serif;     */

}

#header{
    border: 1px solid black;
    display: flex;
    width: 100%;
    height: 65px;
    background-color: white;
    font-family: 'Lato', sans-serif;
    /* position: fixed; */
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    padding: 8px 90px;
    /* justify-content: center; */
    /* align-items: center; */
}

a{  
    /* background-color: white; */
    /* position: fixed; */
    margin: 10px;    
    /* flex-gpraveen kumar bnblj,iuklhrow: 1; */
    /* margin-right: 20px; */
}

a img{
    /* position: fixed; */
    height: 50px;
    width: 50px;
    /* margin-right: 20px; */
    /* padding-left: 70px; */
    
}

nav{
    /* float: right; */
    /* position: fixed; */
    border: 1px solid rgb(240, 40, 40);
    width: 100%;
    height: 65px;
    /* display: flex; */
    /* margin-right: 70px;  */
    justify-content: center;
    align-items: center;
    /* margin-left: 40vw; */
         
}

nav ul{
    /* position: fixed; */
    /* width: 100%; */
    border: 1px solid rgb(8, 170, 245);
    list-style-type: none;
    display: flex;    
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    /* position: fixed; */
    border: 1px solid red;
    border-radius: 7px;
    display: flex;
    padding: 0px 10px;
    margin: 0px 10px;
    box-shadow: 2px 2px 10px #6565658f;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

nav li:hover{
    
    cursor: pointer;
    background-color: white;
    box-shadow: 3px 2px 7px #02a9c0;
}

a{
    /* position: fixed; */
  text-decoration: none; 
  color: rgb(93, 92, 92);
  font-size: 0.9rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
}

#hometab{
    background-color: white;
    box-shadow: 3px 2px 7px #02a9c0;
}

a:hover{
}

/* main section  */

#main{
    /* flex-direction: column; */
    position: absolute;
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin-top: 100px;
    /* padding-left: 30px ; */
}
/* #main::before{
    background: url('img/slider-inner-2.png')no-repeat center center/cover;
} */


.imag{
    /* border: 1px solid green; */
    width: 400px;
    float: right;
    margin: 110px 100px 0px 0px;

}
.imag img{
    width: 450px;
    height: inherit;
}

#upper{
    
    /* border: 1px solid blue; */
    width: 100%px;
    height: auto;
    position: absolute;
    margin: 200px 0px 0px 110px;
}

#upper h1{
    font-size: 3.5rem;
    /* text-shadow: 2px 3px 6px grey ; */
}

span{
    color: rgb(253, 93, 0);
    text-shadow: 1px 1px 5px rgba(255, 68, 0, 0.781);
}



#main p{
    margin-top: 350px;
    margin-left: 110px;
    font-size: 1.2rem;
    line-height: 26px;
    /* border: 1px solid brown; */
    width: 400px;
    font-weight: 300;
}


/* Services section */
#services{
    position: absolute;
    border: 1px solid blue;
    margin-top: 800px;
    width: 100%;
    /* background-color: #f6f6f6;     */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.servicesh{
    border: 1px solid yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicesh h3{
    border: 1px solid yellowgreen;
    font-size: 1.6rem;
    margin: 0;
    

}
.servicesh h1{
    border: 1px solid yellowgreen;
    font-size: 2.8rem;
    margin: 9px;

}
#customservices{
    border: 1px dotted green;
    /* background-color: rgb(87, 87, 218); */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 280px;
    ustify-content: center;
    align-items: center;
}

#customservices div{
    border: 1px solid red;
    /* margin: 0.5em; */
    /* padding:0.5em; */
    display: flex;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#customservices div h1{
    font-size: 1.3rem;
}
#customservices div img{
    width: 50px;
}
.service-temp{
    background-color: rgb(87, 87, 218);
    height: 200px;
    border-radius: 23px;
    color: rgb(255, 255, 255);
}

/* About us section  */

#about{
    margin-top: 1500px;
    /* margin-left: -1240px; */
    /* border: 1px solid black; */
    /* display: flex; */
    width: 100%;
    background-color: #f6f6f6;
}

.about img{
    /* order: 1; */
    width: 500px;
    /* border: 1px solid green; */
    /* width: 400px; */
    float: right;
    margin: 200px 130px 30px 0px;

}

.aboutus{
    /* margin-top: 260px; */
    /* margin-left: 80px; */
    width: 100%;
    text-align: justify;
    font-weight: 400;
}
h3{
    color: #02a9c0;
}

.about p{
    font-size: 15px;
}
